@import "../../vars.css";

.container{
    margin:75px 10%;
    color: var(--color-text);
}
.title{
font-size: 35px;
color: var(--color-text);
letter-spacing: 2px;
text-transform: uppercase;
margin-bottom: 10px;
font-weight: 700;
}
.content{
display: flex;
justify-content: space-evenly;
padding: 20px;
}

.skills{
    width: 35%;
flex-wrap: wrap;
display: flex;
gap: 40px;
}
.skill{
display: flex;
flex-direction: column;
align-items: center;
gap: 11px;
}
.skillImgContainer{
width: 120px;
height: 120px;border-radius: 50%;
background-color: var(--color-secondary);
display: flex;
align-items: center;
justify-content: center;
}
.img{

}
.skillTitle{
font-size: 25px;
font-weight: 500;
font-family: var(--font-roboto);
}
.history{
    width: 45%;
list-style: none;
display: flex;
flex-direction: column;
gap: 41px;
}
.historyItem{
    display: flex;
    align-items: center;
    gap: 28px;

    background-color: #19376b;
    background: linear-gradient(90deg,#19376b 0%,rgba(25,55,109,0) 100%);
    border-radius: 10px;
    padding: 24px;

}
.historyImgContainer{

}
.historyImg{
width: 50px;
}
.historyDesc{
font-family: var(--font-roboto);

}
.historyRole{
font-size: 30px;
font-weight: 500;
}
.historyDate{
    font-size: 30px;
    font-weight: 500;
}
.historyList{
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 6px;
    font-size: 26px;
    margin-left: 10px;
}
.historyListItem{}
@media screen and (max-width:830px) {
    .content{
        flex-direction: column;
        gap: 20px;
    }
    .skills{
        width: 100%;
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
       
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
        gap: 20px;
        margin-bottom: 20px;
    }
    .history{
        width: 100%;
    }
}